*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: #fff;
    width: 100%;
    height: auto;
    display: flex;
    padding: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    background: #2A7B9B;
    background: linear-gradient(90deg,rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
}
.container{
    margin-top: 4rem;
    width: 80%;
    height: auto;
    border:solid 0.3rem #bdba06;
    background-color: #013220;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1.5rem;

}
header {
    height: 10vh;
    width: 100%;
}
nav ul {
    list-style: none;
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
}
nav ul a{
    color: #fff;
    text-decoration: none;
    padding: 0.5rem;
}
nav ul a:hover{
    border-bottom: 0.35rem solid  #e0e645;
    cursor: pointer;
}
#hero {
  
    padding: 0rem 2rem 6rem 2rem;
    padding-bottom: 6rem;
    width: 60%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 2rem;
    border-bottom: #fff solid 2px;
}
#hero img {
  max-width: 14rem; 
  height: 12rem; 
  object-fit: cover;
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.hero-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.hero-content h1{
    font-weight: 700;
text-align: center;
}
.hero-content h2{
    font-weight: 500;
    color: #dce050;
text-align: center;
}
.hero-content p{
    color: #9d9fa1;
text-align: center;
font-weight: 400;
}
.hero-buttons {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 1rem;
    margin-top: 1rem;
}
.hero-buttons a{
    text-decoration: none;
    color: #e0e645;
    border: solid 0.1rem #e0e645;
    border-radius: 0.5rem;
    padding: 0.5rem;
    font-weight: 500;
}
.hero-buttons .btn:hover{
    color: #111;
    background-color: #e0e645;;
}

#about {
    margin-top: 4rem;
    width: 60%;
    height: 80vh;
     padding: 0rem 2rem 6rem 2rem;
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 3rem;
}

.about-content {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 1.5rem;
}
#about img{
  max-width: 14rem; 
  height: 22rem; 
  object-fit: cover;
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  margin-top: 2rem;
}
.about-content #aboutBtn{
    display: flex;
    list-style: none;
    gap: 1rem;
}
#aboutBtn li button{
    outline: none;
    background-color: #e0e645;
    color: #013220;
     padding: 0.5rem;
     border-radius: 0.5rem;
    width: 6rem;
    font-weight: 500;
}
#aboutBtn li button:hover{
    color: #e0e645;
    border: solid 0.1rem #e0e645;
    background-color: #013220;
}
.about-content h1 {
    text-align: center;
}
.about-content p{
   color: #d9e7f7;
   text-align: center;
   font-weight: 400;
}
.about-content ol {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 2rem;
    gap: 1rem;
}
.about-content ol li{
    font-weight: 400;
    color: #d9e7f7;
}

#services {
    width: 60%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: gainsboro;
    border-radius: 1rem;
    padding: 3rem;
    color: #111;
    text-align: center;

}
.service{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}
.ser{
    width: 50%;
}
.ser img {
  width: 12rem;
  height: 10rem;
  object-fit: cover;
  border-radius: 1rem;
  box-shadow: 0.25rem 0,8rem rgba(0,0,0,0.15);
  transition: transform 0.3s ease;
}
#skills{
    width: 60%;
    height: 50vh;
    padding: 3rem;
    border: #bdba06 solid 0.25rem;
    border-radius: 1rem;
    margin: 3rem;
}
.skill {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.skill p{
    font-size: 1.3rem;
    font-weight: 500;
}
.skill i{
    font-size: 2rem;
    color: #bdba06;
    border-radius: 0.2rem;
}
#contact {
    background-color: #111;
    border-radius: 2rem;
    width:60%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 2rem;
    border: solid 0.25rem #bdba06;;
}
#contact #container{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.contact-access{
    width: 55%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}
.personal-project {
    display: flex;
    justify-content: center;
    align-items: center
}
.personal-project{
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.personal-project .h3 h3{
    color: #bdba06;
    font-size: 1.5rem;
    margin-bottom: 0.7rem;
}
.personal-project .h3 li {
    list-style: none;
    font-size: 1.2rem;
}
.personal-project .h3 li a{
    text-decoration: none;
    color: #b10987;
}
.personal-project .h3 li a:hover{
    color: #fff;
}
.social-media div {
    display: flex;
    gap: 0.2rem;
}
.social-media div p {
    margin-right:0.5rem ;
    font-size: 1rem;
    color: #bdba06;
}
.social-media div i{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;   
    margin: 0.1rem;
     border-radius: 0.5rem;
}
.fa-x-twitter {
    color: #111;
    background-color: #fff;
}
.fa-square-instagram{
    background: radial-gradient(circle at 30% 107%, #FDF497 0%, #FDF497 5%, #FD5949 45%, #D6249F 60%, #285AEB 90%);
}
.fa-youtube{
    color: #d81a09;
}
.fa-linkedin{
    color: #4573fd;
}
.fa-telegram{
    color: #1c43b9fa;
}
.fa-whatsapp{
    color: #07be35;
}
.fa-brands:hover{
     border-bottom: solid 0.1rem #f51303;
}
#Privacy{
    margin-top: 2rem;
    font-size: 0.7rem;
    display: flex;
    justify-content: space-between;
}
.contact-form{
    width: 45%;
    text-align: center;
}
.contact-form h2{
    font-size: 1.3rem;
}
.contact-form form{
    margin-top: 2rem;
    width: 100%;
}
.contact-form form .fullname{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 6%;
  
}
.contact-form form input{
    width: 80%;
    outline: none;
    text-align: center;
      padding: 0.35rem;
    height: 2rem;
       font-size: 1rem;
       font-weight: 600;
    margin-bottom: 1rem;
    border-radius: 0.6rem;
}
.contact-form form input:focus{
    border: solid 0.3rem #07be35;
}
.contact-form form .fullname input{
       width: 40%;
       height: 2.5rem;
      text-align: center;
        text-transform: capitalize;
      padding: 0.35rem;
      border-radius: 0.5rem;
      font-weight: 600;
      font-size: 1rem;
      margin-bottom: 1rem;
}
.contact-form form button{
    height: 2rem;
    border-radius: 1rem;
    width: 80%;
    text-align: center;
      padding: 0.35rem;
    height: 2rem;
       font-size: 1rem;
       font-weight: 600;
       color: #bdba06;
         background-color: #111;
       outline: none;
       border: solid 0.15rem #bdba06;
}

.contact-form form button:hover{
    background-color: #013220;
}

