:root{
    --primary--color:cyan;
    --secondary--color:#efefef;
  --swiper-pagination-color: #efefef;
  --swiper-pagination-bullet-size: 12px; 
  --swiper-pagination-bullet-inactive-color: #efefef;
  --swiper-pagination-bullet-inactive-opacity: 1; 
  --swiper-pagination-color: var(--primary--color);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: var(--primary--color);
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    background-color: #000;
}

/*   all content  container*/
.container{
    opacity: 0.7;
    color: var(--primary--color);
    position: relative;
    width: 100%;
    height: auto;
    border:solid 0.1rem #5a5a56;
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.home{
    width: 100%;
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    border-bottom:solid 0.1rem var(--primary--color);
}
/* header style*/
header {
    margin-top: 2rem;
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-transform: capitalize;
    font-size: 1.1rem;
}
header nav{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
header >nav> ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
nav ul a{
    color: var(--secondary--color);
    text-decoration: none;
    padding: 0.15rem;
    border-radius: 0.5rem;
    font-weight: bold;
}
nav ul a:hover{
    border-bottom: 0.45rem solid var(--primary--color);
    border-top: 0.45rem solid  var(--primary--color);
    cursor: pointer;
}





/* hero content or home page*/
#hero {
    width: 100%;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 1rem;
    padding-bottom: 6rem;
}
.hero-img {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 50px;
   text-align: center;
}
.hero-img img {
  width: 16rem;
  height:16rem; 
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border: solid 0.2rem var(--primary--color);
  box-shadow: 0px 0px 20px rgb(59, 3, 65);
}
.hero-img h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif,Arial, Helvetica, sans-serif;
    font-size: 2rem;
    width: 100%;
    text-transform: capitalize;
    text-shadow: 0px 2px 3px var(--secondary--color);
    position: relative;
    font-weight: bold;
    text-align: center;
    perspective: 50px;
    perspective-origin: 50% 100%;
    display: inline-block;
}
.hero-content{
    padding: 3rem 1rem;
    height: 100%;
    margin-left: 2rem;
    width: 60%;
    border: solid 0.05rem var(--primary--color);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.hero-content p{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--secondary--color);
    text-align: center;
    font-size: 1.3rem;
    font-weight: 500;
}
.to-form{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.to-form h3{
    text-align: center;
    text-transform: capitalize;
    font-weight: bold;
    color: var(--primary--color);
    font-size: 1.3rem;
}
.hero-buttons {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 1rem;
    margin-top: 1rem;
}
.hero-buttons a{
  text-align: center;
  text-decoration: none;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  color: var(--primary--color);
  border: solid 0.16rem var(--primary--color);
  border-radius: 0.5rem; 
  padding: 0.5rem;
  font-weight: bold;
}
.hero-buttons .btn:hover{
    border-color: var(--secondary--color);
    color:#111;
    background-color: var(--primary--color);
}

.form-btn{
    display: block;
    text-decoration: none;
    color:#000;
     border: solid 0.16rem var(--primary--color);
     background-color: var(--primary--color);
    border-radius: 0.5rem;
    padding: 0.5rem;
    font-weight: bold;
}
.form-btn:hover{
    border-color: var(--secondary--color);
    color: #285AEB;
    background-color: var(--primary--color);
}







/* about section style*/

#about {
    width: 100%;
    height: 90vh;
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 3rem;
     background-color:#000;
     border-bottom:solid 0.1rem var(--primary--color);
}

.about-content {
    box-shadow: 5px 3px 10px #111;
    border: solid 0.15rem var(--primary--color);
    border-radius: 1rem;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 1.5rem;
    padding: 1rem;
}
#about img{
  max-width: 14rem; 
  height: 22rem; 
  object-fit: cover;
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  margin-top: 2rem;
}
.about-content #aboutBtn{
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}
#aboutBtn li button{
    outline: none;
    background-color: #000;
    color: var(--primary--color);
     padding:0.5rem;
     box-shadow: 0px 0px 10px var(--primary--color);
     border-radius: 0.5rem;
     width:7rem;
    font-weight: 500;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
}

#aboutBtn li button:hover{
    color: #e0e645;
    border: solid 0.1rem var(--primary--color);
    background-color: #013220;
}
.about-content h1 {
    color: var(--primary--color);
    font-weight: bold;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
.about-content h2{
    color: var(--primary--color);
    text-align: center;
    font-size: 1.7rem;
}
.about-content p{
    font-family: serif;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   color: var(--secondary--color);
   text-align: center;
   font-weight: 600;
   padding: 0.5rem;
   text-align: center;
}
.about-content ol {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    left: 3rem;
    top: 0.5rem;
    gap: 1rem;
}
.education ul {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    left: 3rem;
    gap: 0.2rem;
    text-transform: capitalize;
}
.about-content ol li{
    text-align: left;
    font-weight: 400;
     color: var(--secondary--color);
}
.life p{
    text-align: left;
}





/*services section */
.controls-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 16px;
      width: 60%;
      height: 70vh;
      margin: 40px auto;
    }

.custom-nav-btn {
      width: 3rem;
      height: 3rem;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      border: none;
      background: rgba(0,0,0,0.6);
      color: var(--primary--color);
      cursor: pointer;
      box-shadow: 0 2px 8px rgba(0,0,0,0.25);
    }
    .custom-nav-btn:active { 
        transform: scale(.98);
     }
    .custom-nav-btn[disabled] { 
        opacity: 0.6;
        cursor: pointer;
     }
     .custom-nav-btn:hover {
        color: #000;
        background-color: var(--primary--color); 
     } 
    .my-swiper {
        border-radius: 1rem;
      box-shadow: 0px 0px 20px #000;
      width: 90%; 
      height: 400px;
      position: relative;
      box-sizing: border-box;
    }
    .swiper-slide {
      width: 100%;
      height: 100%;
      background:#000;
      padding: 20px;
      border-radius: 14px;
      border: 2px solid rgba(0,0,0,0.12);
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 18px;
      color: #fff;
      box-shadow: 2px 6px 18px rgba(0,0,0,0.18);
      box-sizing: border-box;
    }
    .swiper-slide h2{
        padding: 1rem;
        color: var(--primary--color);
        text-transform: capitalize;
    }
    .swiper-slide h3{
        text-transform: capitalize;
        padding: 1rem;
        color: var(--primary--color);
    }

    .swiper-pagination {
    color: var(--primary--color);
      position: absolute;
      bottom: 8px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 10;
       width: fit-content; 
       margin-left: auto;
        margin-right: auto;
        padding: 5px 15px; 
         border-radius: 20px; 
}

.swiper-pagination-bullet {
  background-color: #efefef; 
  width: 12px; 
  height: 12px;
}

.swiper-pagination-bullet-active {
  background-color:var(--primary--color);
}
.slide-one{
    text-align: center;
}
.slide-one img{
    width: 100%;
    height: 50%;
    border-radius: 1rem;
}




/* skills section*/
#skills-container{
    height: 95vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
   border-top:solid 0.1rem var(--primary--color);
   border-bottom:solid 0.1rem var(--primary--color);
    background-color:#000;
}
#skills{
    opacity: 0.7;
    background-color:cyan;
    width: 60%;
    height: 80%;
    padding: 1rem;
    border: var(--primary--color) solid 0.1rem;
    border-radius: 1rem;
    color: var(--primary--color);
    text-align: center;
}
#skills h1{
    padding: 2rem;
    color: #000;
}
.skill {
    padding: 0.5rem;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
}
.skill p{
    font-weight: bold;
    color: #000;
    font-size: 1.4rem;
    font-weight: 600;
}
.skill i{
    font-size: 2.3rem;
    color: #bdba06;
    border-radius: 0.2rem;
}
.skill .fa-js{
    color: #f8cd0e;
}
.skill .fa-html5{
    color: #f35a01;
}
.skill .fa-java{
    color: #e64303;
}
.skill .fa-database{
    color: #a10505;
}
.skill .fa-react{
    color: #920ae0;
}
.skill .fa-vuejs{
    color:#07b17e;
}
.skill .fa-git{
    color: #111;
}
.skill .fa-github{
    color: #351818;
}




/* contact section */

#contact {
    background-color: #111;
    border-radius: 1rem;
    width:80%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    border: solid 0.15rem #bdba06;;
}
#contact #container{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.contact-access{
    width: 55%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.personal-project {
    display: flex;
    justify-content: center;
    align-items: center
}
.personal-project{
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.personal-project .h3 h3{
    color: #bdba06;
    font-size: 1.6rem;
    margin-bottom: 0.7rem;
}
.personal-project .h3 li {
    list-style: none;
    font-size: 1.15rem;
}
.personal-project .h3 li a{
    text-decoration: none;
    color: #b10987;
}
.personal-project .h3 li a:hover{
    color: #fff;
}
.social-media div {
    display: flex;
    gap: 0.2rem;
}
.social-media div p {
    margin-right:0.5rem ;
    font-size: 1rem;
    color: #bdba06;
}
.social-media div i{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;   
    margin: 0.1rem;
     border-radius: 0.5rem;
}
.fa-x-twitter {
    height: 1.5rem;
    color: #111;
    background-color: #fff;
}
.fa-square-instagram{
    height: 1.5rem;
    background: radial-gradient(circle at 30% 107%, #FDF497 0%, #FDF497 5%, #FD5949 45%, #D6249F 60%, #285AEB 90%);
}
.fa-youtube{
    color: #d81a09;
}
.fa-linkedin{
    color: #4573fd;
}
.fa-telegram{
    color: #1c43b9fa;
}
.fa-whatsapp{
    color: #07be35;
}
.fa-brands:hover{
     border-bottom: solid 0.1rem #f51303;
}
#Privacy{
    text-transform: capitalize;
    margin-top: 2rem;
    font-size: 0.7rem;
    display: flex;
    justify-content: space-between;
}
.contact-form{
    width: 45%;
    text-align: center;
}
.contact-form h2{
    font-size: 1.3rem;
}
.contact-form form{
    margin-top: 2rem;
    width: 100%;
}
.contact-form form .fullname{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 6%;
  
}
.contact-form form input{
    width: 80%;
    outline: none;
    text-align: center;
      padding: 0.35rem;
    height: 2rem;
       font-size: 1rem;
       font-weight: 600;
    margin-bottom: 1rem;
    border-radius: 0.6rem;
}
.contact-form form input:focus{
    border: solid 0.3rem var(--primary--color);
}
.contact-form form .fullname input{
       width: 40%;
       height: 2.5rem;
      text-align: center;
        text-transform: capitalize;
      padding: 0.35rem;
      border-radius: 0.5rem;
      font-weight: 600;
      font-size: 1rem;
      margin-bottom: 1rem;
}
.contact-form form button{
    height: 2rem;
    border-radius: 1rem;
    width: 80%;
    text-align: center;
      padding: 0.35rem;
       font-size: 1rem;
       font-weight: 600;
       color: var(--primary--color);
         background-color: #111;
       outline: none;
       border: solid 0.15rem var(--primary--color);
}

.contact-form form button:hover{
    background-color: var(--primary--color);
    color: #000;
}

.life{
    display: none;
}
.education{
    display: none;
}

@media (min-width: 769px) and (max-width: 1024px) {
  /* Tablet styles */
.home{
    height: auto;
    gap:0rem;
}
 header {
    height: 10vh;
 }
 header nav{
    width: 100%;
 }
 header >nav> ul {
    gap: 1.5rem;
 }

#hero {
    height: auto;
     padding-bottom: 3rem;
}
.hero-img {
    margin: 30px;
    gap: 0.6rem;
}
.hero-img img {
    width: 14rem;
    height: 14rem;
}
.hero-img h2{
    font-size: 1.7rem;
}
.hero-content{
    padding: 2rem 1rem;

}
.hero-content p{
    font-size: 1.1rem;
}
.to-form{
      margin-top: 0.7rem;
       gap: 0.7rem;
}
.to-form h3{
    font-size: 1.15rem;
}
.hero-buttons {
    gap: 0.7rem;
    margin-top: 0.7rem;
}
.hero-buttons a{
}




#about {
    height: auto;
    gap: 2rem;
    padding: 2rem;
}
.about-content {
   width: 60%; 
}
#about img{
    margin-top: 1.5rem;
}
.about-content #aboutBtn{
    width: 100%;
}
#aboutBtn li button{
    width: 7rem;
    font-size: 1rem;
}
.about-content h2 {
font-size: 1.5rem;
}



#skills-container{
    
}
#skills{
    width: 80%;
}
.skill p{
   font-size: 1.3rem;
}
}



/* Mobile */
@media (max-width: 768px) {

.home{
    min-width: 320px;
    height: auto;
    gap:0rem;
}
 header {
    height: 10vh;
 }
 header nav{
    width: 100%;
 }
 header >nav> ul {
    gap: 1rem;
 }

#hero {
    height: auto;
     padding-bottom: 1.5rem;
}
.hero-img {
    margin: 15px;
    gap: 0.6rem;
}
.hero-img img {
    width: 10rem;
    height: 10rem;
}
.hero-img h2{
    font-size: 1.5rem;
}
.hero-content{
    padding: 1rem 0.5rem;

}
.hero-content p{
    font-size: 1rem;
}
.to-form{
      margin-top: 0.5rem;
       gap: 0.5rem;
}
.to-form h3{
    font-size:1rem;
}
.hero-buttons {
    gap: 0.5rem;
    margin-top: 0.5rem;
}
.hero-buttons a{
  padding: 0.3rem;
  border-width: 0.13rem;
  font-size: 0.9rem;
}




#about {
    height: auto;
    gap: 1rem;
    padding: 1rem;
}
.about-content {
   width: 60%; 
}
#about img{
    margin-top: 1.5rem;
}
.about-content #aboutBtn{
    width: 100%;
    gap: 0.5rem;
}
#aboutBtn li button{
    width: 5rem;
    font-size: 0.7rem;
}
.about-content h2 {
font-size: 1.2rem;
}
.about-content ol{
left: 1rem;
gap: 0.5rem;
}

#about img{
    max-width: 11rem;
    height: 16rem;
    margin-top: 1rem;
}

  .swiper-slide h2{
    font-size: 1.5rem;
        padding: 0.5rem;
    }
    .swiper-slide h3{
        font-size: 1.1rem;
        padding: 0rem;
    }


.skill {
    gap: 0rem;
    padding: 0.5rem;
}
#skills{
    width: 80%;
    gap:0rem ;
}
.skill p{
    font-size: 1.2rem;
    padding: 0.5rem;
}
.skill i{
    font-size: 1.3rem;
}


#contact {
    height: auto;
}
.contact-access{
    gap: 1rem;
}

.personal-project .h3 h3{
   font-size: 1.3rem;
   margin-bottom: 0.5rem;
}
   
.personal-project .h3 li {
    font-size: 1.1rem;
}
.social-media div p {
    margin-right: 0.35rem;
}
.social-media div i{
    font-size: 1.3rem;
}
#Privacy{
    margin-top: 1.5rem;
}
.contact-form h2{
    font-size: 1rem;
}
.contact-form form{
    margin-top: 1rem;
}
.contact-form form input{
    padding: 0.2rem;
    height: 1.8rem;
    margin-bottom: 0.6rem;
}
.contact-form form .fullname input{
    height: 1.8rem;
    padding: 0.25rem;
    font-size: 0.65rem;
}
.contact-form form button{
    height: 1.8rem;
}

}


 

