*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: #fff;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    background: #efefef;
}

/*   all content  container*/
.container{
    position: relative;
    width: 100%;
    height: auto;
    border:solid 0.1rem #5a5a56;
    background-color: #013220;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}


/* header style*/
header {
    margin-top: 2rem;
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-transform: capitalize;
    font-size: 1.1rem;
}
header nav{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
header >nav> ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
nav ul a{
    color: #fff;
    text-decoration: none;
    padding: 0.15rem;
    border-radius: 0.5rem;
}
nav ul a:hover{
    border-bottom: 0.45rem solid  #e0e645;
    border-top: 0.45rem solid  #e0e645;
    cursor: pointer;
}


/* hero content or home page*/
#hero {
    width: 100%;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: #fff solid 0.005rem;
    position: relative;
    padding-bottom: 6rem;
    gap: 2rem;

}
.hero-img img {
  width: 30rem;
  height:16rem; 
  object-fit: cover;
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.hero-content{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.hero-content h1{
    font-family: cursive,Arial, Helvetica, sans-serif;
    font-size: 2rem;
    height: 10vh;
    width: 100%;
    font-weight: 700;
    text-align: center;
}
.hero-content p{
    color: #9d9fa1;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 400;
}
.to-form{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.form-btn{
    text-decoration: none;
    color: #e0e645;
    border: solid 0.1rem #e0e645;
    border-radius: 0.5rem;
    padding: 0.5rem;
    font-weight: 500;
}
.form-btn:hover{
    color: #111;
    background-color: #e0e645;
}
.hero-buttons {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 1rem;
    margin-top: 1rem;
}
.hero-buttons a{
    text-decoration: none;
    color: #e0e645;
    border: solid 0.1rem #e0e645;
    border-radius: 0.5rem;
    padding: 0.5rem;
    font-weight: 500;
}
.hero-buttons .btn:hover{
    color: #111;
    background-color: #e0e645;
}



/* about section style*/

#about {
    width: 100%;
    height: 75vh;
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 0rem;
     border-bottom: #fff solid 0.15rem;
}

.about-content {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 1.5rem;
    padding: 1rem;
}
#about img{
  max-width: 14rem; 
  height: 22rem; 
  object-fit: cover;
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  margin-top: 2rem;
}
.about-content #aboutBtn{
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}
#aboutBtn li button{
    outline: none;
    background-color: #e0e645;
    color: #013220;
     padding: 0.3rem 0.5rem;
     border-radius: 0.5rem;
     width:7rem;
    font-weight: 500;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.05rem;
}

#aboutBtn li button:hover{
    color: #e0e645;
    border: solid 0.1rem #e0e645;
    background-color: #013220;
}
.about-content h1 {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
.about-content p{
   color: #d9e7f7;
   text-align: center;
   font-weight: 400;
   text-align: center;
}
.about-content ol {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 2rem;
    gap: 1rem;
}
.about-content ol li{
    font-weight: 400;
    color: #d9e7f7;
}





/*services section */

.controls-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 16px;
      width: 60%;
      height: 70vh;
      margin: 40px auto;
    }

.custom-nav-btn {
      width: 3rem;
      height: 3rem;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      border: none;
      background: rgba(0,0,0,0.6);
      color: white;
      cursor: pointer;
      box-shadow: 0 2px 8px rgba(0,0,0,0.25);
    }
    .custom-nav-btn:active { transform: scale(.98); }
    .custom-nav-btn[disabled] { opacity: 0.4; cursor: pointer; }

    .my-swiper {
      width: 90%; 
      height: 400px;
      position: relative;
      box-sizing: border-box;
    }
    .swiper-slide {
      width: 100%;
      height: 100%;
      background: linear-gradient(135deg,#54c2c2,#4a9fa9);
      padding: 20px;
      border-radius: 14px;
      border: 2px solid rgba(0,0,0,0.12);
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 18px;
      color: #fff;
      box-shadow: 2px 6px 18px rgba(0,0,0,0.18);
      box-sizing: border-box;
    }

    .swiper-pagination {
      position: absolute;
      bottom: 12px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 10;
    }

.slide-one{
    text-align: center;
}
.slide-one img{
    width: 80%;
    height: 70%;
    border-radius: 1rem;
}




/* skills section*/
#skills-container{
    height: 95vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: #fff solid 0.15rem;
    border-bottom: #fff solid 0.15rem;
}
#skills{
    width: 50%;
    height: 70%;
    padding: 1rem;
    border: #bdba06 solid 0.25rem;
    border-radius: 1rem;
    text-align: center;
}
#skills h1{
    padding: 2rem;
}
.skill {
    padding: 0.5rem;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
}
.skill p{
    font-size: 1.4rem;
    font-weight: 500;
}
.skill i{
    font-size: 2.3rem;
    color: #bdba06;
    border-radius: 0.2rem;
}
.skill .fa-js{
    color: #f8cd0e;
}
.skill .fa-html5{
    color: #f35a01;
}
.skill .fa-java{
    color: #fff;
}
.skill .fa-database{
    color: #fff;
}
.skill .fa-react{
    color: #fff;
}
.skill .fa-vuejs{
    color:#07b17e;
}
.skill .fa-git{
    color: #111;
}
.skill .fa-github{
    color: #fff;
}




/* contact section */

#contact {
    background-color: #111;
    border-radius: 1rem;
    width:70%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    border: solid 0.15rem #bdba06;;
}
#contact #container{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.contact-access{
    width: 55%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.personal-project {
    display: flex;
    justify-content: center;
    align-items: center
}
.personal-project{
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.personal-project .h3 h3{
    color: #bdba06;
    font-size: 1.6rem;
    margin-bottom: 0.7rem;
}
.personal-project .h3 li {
    list-style: none;
    font-size: 1.15rem;
}
.personal-project .h3 li a{
    text-decoration: none;
    color: #b10987;
}
.personal-project .h3 li a:hover{
    color: #fff;
}
.social-media div {
    display: flex;
    gap: 0.2rem;
}
.social-media div p {
    margin-right:0.5rem ;
    font-size: 1rem;
    color: #bdba06;
}
.social-media div i{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;   
    margin: 0.1rem;
     border-radius: 0.5rem;
}
.fa-x-twitter {
    color: #111;
    background-color: #fff;
}
.fa-square-instagram{
    background: radial-gradient(circle at 30% 107%, #FDF497 0%, #FDF497 5%, #FD5949 45%, #D6249F 60%, #285AEB 90%);
}
.fa-youtube{
    color: #d81a09;
}
.fa-linkedin{
    color: #4573fd;
}
.fa-telegram{
    color: #1c43b9fa;
}
.fa-whatsapp{
    color: #07be35;
}
.fa-brands:hover{
     border-bottom: solid 0.1rem #f51303;
}
#Privacy{
    margin-top: 2rem;
    font-size: 0.7rem;
    display: flex;
    justify-content: space-between;
}
.contact-form{
    width: 45%;
    text-align: center;
}
.contact-form h2{
    font-size: 1.3rem;
}
.contact-form form{
    margin-top: 2rem;
    width: 100%;
}
.contact-form form .fullname{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 6%;
  
}
.contact-form form input{
    width: 80%;
    outline: none;
    text-align: center;
      padding: 0.35rem;
    height: 2rem;
       font-size: 1rem;
       font-weight: 600;
    margin-bottom: 1rem;
    border-radius: 0.6rem;
}
.contact-form form input:focus{
    border: solid 0.3rem #07be35;
}
.contact-form form .fullname input{
       width: 40%;
       height: 2.5rem;
      text-align: center;
        text-transform: capitalize;
      padding: 0.35rem;
      border-radius: 0.5rem;
      font-weight: 600;
      font-size: 1rem;
      margin-bottom: 1rem;
}
.contact-form form button{
    height: 2rem;
    border-radius: 1rem;
    width: 80%;
    text-align: center;
      padding: 0.35rem;
    height: 2rem;
       font-size: 1rem;
       font-weight: 600;
       color: #bdba06;
         background-color: #111;
       outline: none;
       border: solid 0.15rem #bdba06;
}

.contact-form form button:hover{
    background-color: #013220;
}

.life{
    display: none;
}
.education{
    display: none;
}


